
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
            <label for="phone">Phone Number</label>
            <input type="number" name="phonenumber"  ngModel>
            <br>
            <button type="button" class="btn btn-secondary"(click) = " addPhone()">Add Another Phone Number</button>
            <br>
            <span *ngIf ="another">
                <label for="anotherphone">Another Phone Number</label>
                <input type="number" name="anotherphonenumber"  ngModel>
            </span>
           <br>
           <button type="button" class="btn btn-primary" type="submit">Submit</button>
          </form>
          <h2> See results in console log</h2>
    </div>
    <div class="col-md-2">
    </div>
</div>






    
